.sapMTextArea{
	background-color: #F3FAB6;
}
.sapMMsgStrip{
	background-color: #FDF3E7;
}
.profilePic{
	border-radius: 23px;
    margin: 7px 0 7px 7px;
}
.profileName{
	margin: 10px 10px 0px 10px;
	font-size: 20px;
}
.designation{
	margin: 0px 0px 0px 10px;
}
.subjectLabel{
	color: #911945;
	margin: 0px 10px 0px 0px;
	font-size: 17px;
}
.shortText{
	margin: 0px 10px 0px 0px;
	font-size: 14px;
}
.sapMListBGSolid .sapMLIB:not(.sapMLIBActive):not(.sapMLIBSelected):not(:hover) {
    background: #EFDFE5;
}
.sapMIBar.sapMHeader-CTX{
	background-color:#911945;
}
.sapMIBar-CTX .sapMTitle{
	color: #FFF;
}
